# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/.idea.RTS AI Project.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../:\Yliopisto toita\GitHub\RTS AI Project\.idea\.idea.RTS AI Project\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
